.slider {
	position: relative;
	overflow: hidden;
	
    .slider-home, .slider-geral {
		width: 100%;
		height: 700px;

		@media screen and (max-width: 1920px) {
			height: 500px;
		}

		@media screen and (max-width: 991px) {
			height: 200px;
		}

		.swiper-slide {
			width: 100%;
			height: 100%;
			text-align: center;
			font-size: 18px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;

			.slider-general {
				background-size: cover;
                background-position: center;
				background-color: $white;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				position: relative;

				&.video {
					background: none;
				}

				.row-slider {
					align-items: center;

					.line-slider-text {
						display: flex;
						
						h1 {
							font-weight: 700;
							font-size: 46px;
							line-height: 1;
							color: $white;
							text-align: left;
							position: relative;
							filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.65));
							margin-bottom: 0;

							@media screen and (max-width: 991px) {
								font-size: 20px;
							}
						}
		
						P {
							font-weight: 500;
							font-size: 24px;
							line-height: 29px;
							color: $black;
							text-align: left;
							max-width: 713px;

							@media screen and (max-width: 991px) {
								font-size: 14px;
								line-height: 17px;
								max-width: 100%;
							}
						}
					}

					.line-slider-image {
						display: flex;
						align-items: center;
						justify-content: center;

						img {
							max-width: 100%;
							width: 400px;
							height: auto;

							@media screen and (max-width: 991px) {
								width: 250px;
								margin-bottom: 24px;
							}
						}
					}
				}
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
                
		.swiper-button-next-slider-home, .swiper-button-prev-slider-home, .swiper-button-next-slider-geral, .swiper-button-prev-slider-geral {
			background: none;
			right: inherit;
			width: 30px;
			height: 40px;
			z-index: 9999;
			display: none;

			&::after {
				content: initial;
			}

			@media screen and (max-width: 991px) {
				display: block;
			}
		}

		.swiper-button-next-slider-home, .swiper-button-next-slider-geral {
			right: 0px;
		}

		.swiper-button-prev-slider-home, .swiper-button-prev-slider-geral {
			left: 35px;
		}
	}
}

#background-video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;

	@media screen and (max-width: 991px) {
		height: 120%;
	}
}  

.box-hexagon {
	.swiper-services {
		.swiper-wrapper {
			.swiper-slide {
				min-height: 400px;

				.poligono-slider {
					position: absolute;
					width: 100%;
					height: 100%;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					// clip-path: polygon(50% 0, 100% 10%, 100% 100%, 0% 100%, 0% 0%, 0% 10%);

					.box-hexagon-text {
						background-color: $primary;
						width: 100%;
						height: 55px;
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: 999;
						padding: 15px 18px;
						display: flex;
						justify-content: space-between;
						align-items: center;

						p {
							color: $white;
							font-size: 16px;
							font-weight: 700;
							letter-spacing: -0.64px;
						}
					}
				}
			}
		}
	}
}

.swiper-pagination-bullets {
	padding-top: 30px;
    padding-bottom: 10px;
	
	&.swiper-pagination-horizontal {
		position: relative;
		bottom: initial;
		top: initial;
		left: initial;
	}

	.swiper-pagination-bullet {
		background: $gray-4;
		width: 20px;
		height: 20px;
		opacity: 1;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		@media screen and (max-width: 991px) {
			width: 15px;
			height: 15px;
		}

		&.swiper-pagination-bullet-active {
			background: $primary;
		}
	}
}

.swiper-pagination-slider-services {
	padding-bottom: 30px;
}